@use "../../../scss/variables" as *;

.addDialog,
.deleteDialog,
.editDialog {
  .MuiDialog-paper {
    color: $lightColor !important;
    padding: 20px !important;
    background-color: $mainBackgroundColor !important;
    min-width: 30%;
    h2 {
      padding-top: 0 !important;
      padding-left: 0 !important;
    }

    p {
      color: $lightColor !important;
    }

    button {
      display: inline-block;
      padding: 5px 30px;
      background-color: transparent;
      color: $lightColor;
      border: 1px solid $lightColor;
      border-radius: $borderRadiusForCards;
      outline: none;
      font-weight: 700;
      cursor: pointer;
      &:first-of-type {
        background-color: $textColor;
        border: none;
      }
    }

    .dialogActions {
      button {
        display: inline-block;
        padding: 5px 30px;
        background-color: transparent;
        color: $lightColor;
        border: 1px solid $lightColor;
        border-radius: $borderRadiusForCards;
        outline: none;
        font-weight: 700;
        cursor: pointer;
        &:last-of-type {
          background-color: $textColor;
          border: none;

          &:disabled {
            cursor: not-allowed;
          }
        }
      }
    }

    form {
      margin-top: 20px;
    }
  }
}
