// colors

$mainBackgroundColor: #0c1b42;
$backgroundColorForLayout: #081331;
$innerBackgroundColor: #10255a;

$textColor: #00adb5;

$lightColor: #f1f1f1;
$darkColor: #000;

$successColor: #56b938;
$successColorWithOpacity: #e2fbda;

$failColor: #bd4c5a;
$failColorWithOpacity: #ffdadf;

// spacing

$paddingForContainer: 30px;

// borders

$borderRadiusForCards: 10px;

// screens
$mobileBreakPoint: 425px;
$tabletBreakPoint: 768px;
$desktopBreakPoint: 1024px;
